/*
  == primary palette ==
  Sea Green
  C71 M0 Y56 K0
  #3db28c
  Midnight Blue
  #29235c

  == secondary palette ==
  Midnight Blue
  #29235c
  Duck Egg Blue
  #addad9
  Slate Grey
  #3c3c3b
  Light Grey
  #d0d3d4
  Orange
  #f98e2b

*/

/* our primary colours based on the recommended colour-coding above */
:root {
  --co-connect-primary: #475da7;
  --co-connect-primary-light: #c4c6e2;
  --co-connect-secondary: #3db28c;
  --co-connect-tertiary: white;
}

.bg-co-connect {
  background: var(--co-connect-tertiary);
}

/* increase the font-size of the nav bar*/
.navbar {
  font-size: 22px;
  box-shadow: 0 0 0.4rem rgb(0 0 0 / 10%), 0 0.4rem 0.4rem rgb(0 0 0 / 20%);
}

/* increase the gap between the brand and the first link to pages in the nav bar */
.navbar .navbar-brand {
  padding-right: 40px;
}

.bg-co-connect {
  /*
      make some snazy 90s-like theme for the nav bar
      background:  linear-gradient(180deg,rgba(0,0,0,0) 0 66px, var(--co-connect-tertiary) 66px 100%),
		 linear-gradient(110deg,white 0 40px, var(--co-connect-primary-light) 80px , var(--co-connect-primary) 200px 80%,var(--co-connect-secondary));
   */
  background: var(--co-connect-tertiary);
}

/* change the navbar link colors  and mouse-over actions */
.nav-link {
  color: #3c3c3b !important;
  border-bottom: 1.5px solid transparent;
}
.nav-link:hover {
  color: var(--co-connect-secondary) !important;
  border-bottom: 1.5px solid var(--co-connect-primary);
}

/* bit of a hack for the "mobile phone view" */
@media (max-width: 768px) {
  .navbar-collapse {
    padding-top: 20px;
  }
}
