
.python-version
*.pyc
*.DS_Store
*.sqlite3
*.env
*.env-prod
local.settings.json
react-client-app/node_modules/
api/static/javascript/react
**/migrations
*/__pycache__/*
**/pgdata/**
.vscode
.venv
api/staticfiles
host.json