/*
  == primary palette == 
  Sea Green
  C71 M0 Y56 K0
  #3db28c
  Midnight Blue
  #29235c

  == secondary palette == 
  Midnight Blue
  #29235c
  Duck Egg Blue
  #addad9
  Slate Grey
  #3c3c3b
  Light Grey
  #d0d3d4
  Orange
  #f98e2b
  
*/

/* our primary colours based on the recommended colour-coding above */
:root {
    --co-connect-primary: #475da7;
    --co-connect-primary-light: #c4c6e2;
    --co-connect-secondary: #3db28c;
    --co-connect-tertiary:white;
}

/* add paddign to the top of the body so the content doesnt get hidden up the navbar */
body {
    padding-top: 90px;
}
/* increase the font-size of the nav bar*/
.navbar {
    font-size: 22px;
}
/* change the button colours for each button type to the co-connect palette colours */
.btn-info{
    background-color: #475da7;
    border: #475da7;
    color: white;
}

.btn-success{
    background-color: #3db28c;
    border: #475da7;
    color: white;
}

.btn-primary{
    background-color: #475da7;
    border: #475da7;
    color: white;
}

.btn-info:hover{
    background-color: #475da7;
    border: #475da7;
    color: white;
}

.btn-success:hover{
    background-color: #3db28c;
    border: #475da7;
    color: white;
}

.btn-primary:hover{
    background-color: #475da7;
    border: #475da7;
    color: white;
}


.navbar{
    box-shadow: 0 0 0.4rem rgb(0 0 0 / 10%), 0 0.4rem 0.4rem rgb(0 0 0 / 20%);
}


.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-family: sans-serif;
    min-width: 400px;
}

.table thead tr {
    color: #000000;
    text-align: left;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 1px solid  #000000;
}


/* increase the gap between the brand and the first link to pages in the nav bar */
.navbar .navbar-brand{
    padding-right: 40px;
}


.bg-co-connect {
    /*
      make some snazy 90s-like theme for the nav bar 
    
      background:  linear-gradient(180deg,rgba(0,0,0,0) 0 66px, var(--co-connect-tertiary) 66px 100%),
		 linear-gradient(110deg,white 0 40px, var(--co-connect-primary-light) 80px , var(--co-connect-primary) 200px 80%,var(--co-connect-secondary));
   */
    background: var(--co-connect-tertiary);
}

/* change the navbar link colors  and mouse-over actions */
.nav-link{
	color:#3c3c3b !important;
    border-bottom:1.5px solid transparent;
    }
.nav-link:hover{
    color:var(--co-connect-secondary)!important;
    border-bottom: 1.5px solid var(--co-connect-primary);

}

.error-message {
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    border-radius: 7px;
    padding: 5px 10px;
    margin-top: 5px;
    
  }

/* bit of a hack for the "mobile phone view" */
@media (max-width: 768px) {
    .navbar-collapse {
	padding-top:20px;
    }
}
