{% extends "base.html" %}

{% block body %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'scan-report-list' %}">Scan
            reports</a></li>
        <li class="breadcrumb-item"> <a>{{scan_report.dataset}}</a>
        </li>
    </ol>
</nav>

<h2>Negative Assertions for {{scan_report.dataset}}</h2>

{% if object_list %}
<table class="table">
    <thead>
    <tr>

        <th scope="col">Negative</th>
        <th scope="col">Edit Assertion</th>





    </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
    <tr>

        <td>{{object.negative_assertion}}</td>
        <td>
            <a href="{% url 'scan-report-assertion-update' object.id %}">Edit</a>
        </td>



    </tr>
    {% endfor %}
    </tbody>
</table>
{%else%}
<p>No Scan Report assertions available.</p>

{% endif %}
<a href="{% url 'scan-report-assertion-form' scan_report.id %}" class="btn btn-primary">New Assertion</a>



{% endblock %}
