{% extends "base.html" %}

{% block body %}

<div>
    <div id='root'></div>
    <script type="text/javascript">
        var a = "{{a}}"
        var u = "{{u}}"

        var uploadScanReport = async function (formData) {
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
            try {
                const res = await $.ajax({
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: formData,
                    enctype: 'multipart/form-data',
                });
                if (res.status == "form-invalid") {
                    throw {statusText:"There was a form error",...res}
                }
                return res
            }
            catch (err) {
                throw err
            }
        }
    </script>
    <script type="module" src="/static/javascript/react/src/uploadScanReport.js"></script>

</div>
{% endblock %}
