<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <meta charset="utf-8">
  <title>Index</title>
</head>
<body>

  <h1>MappingDB</h1>


  <table class="table">
    <tr>
      <th>Dataset</th>
      <th>Table</th>
      <th>Column</th>
      <th>Mapping(s)</th>

    </tr>

    {% for i in source %}
    <tr>

      <th>{{i.dataset}}</th>
      <th>{{i.table}}</th>
      <th>{{i.field}}</th>
      <th>{{i.mapping.all}}</th>
    </tr>
    {% endfor %}

  </table>



</body>
</html>
