django==3.1.8
redis
celery
pandas
openpyxl
xlsx2csv
django-select2
django-extra-views
psycopg2
djangorestframework
markdown
django-filter
requests
azure-storage-blob==12.8.1
azure-storage-queue==12.1.6



#for coconnect tools, installing here speeds up docker build
numpy
coloredlogs
Jinja2
graphviz
click
sqlalchemy
