django==3.1.14
openpyxl
django-select2
django-extra-views
psycopg2
djangorestframework
django-filter
requests
azure-common
azure-storage-queue==12.1.6
azure-storage-blob==12.8.1
whitenoise
gunicorn
graphviz
drf-dynamic-fields
django-cors-headers
